@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ropa Sans", sans-serif;
  background-color: #00182e;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #1ed560;
  font-size: 72px;
  text-align: center;
}

.intro {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

.intro button {
  margin: 0 1vw;
}

.game {
  transition: opacity 1s ease;
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1%;
  background-color: #1ed560;
  color: #00182e;
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #167c3f;
  color: #fff;
}

.btnMain {
  margin: 0 auto;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

#gameContainer {
  background: linear-gradient(to right, #ede574, #e1f5c4);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1vh auto;
  padding: 1%;
  width: 45vw;
  height: 80vh;
}

.card {
  background: linear-gradient(to right, #02aab0, #00cdac);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 15vh;
}

.card img {
  visibility: hidden;
  margin: auto;
  padding: 1%;
  width: 100%;
  height: 100%;
  user-select: none;
}

.card.flip {
  background: #fff;
  transform: rotateY(360deg);
  transition: transform 0.5s linear;
  pointer-events: none;
  cursor: default;
}

.card.flip img {
  background: #fff;
  visibility: visible;
}

.card.match {
  background: #1ed560;
  visibility: visible;
  cursor: default;
  animation: pulse 1s;
}

.card.match img {
  background: #1ed560;
}

.modal {
  /*Hidden by default */
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 24, 46, 0.9);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 5% auto;
  padding-right: 2%;
  border: 10px solid #1ed560;
  width: 80%;
}

.closeBtn {
  margin-top: 1vh;
  align-self: flex-end;
  color: #1ed560;
  font-size: 50px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #167c3f;
  cursor: pointer;
}

.modal-img {
  display: inline-block;
  margin: 0 2vw;
  width: auto;
}

.message {
  text-align: center;
  font-size: 30px;
  margin-bottom: 2vh;
}

.modal button {
  margin-bottom: 2vh;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 800px) {
  #gameContainer {
    width: 80vw;
    height: 66vh;
  }
  .card {
    width: 19vw;
    height: 15vh;
  }
  .modal-content {
    width: 100%;
  }
}
