@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ropa Sans", sans-serif;
  background-color: #00182e;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #1ed560;
  font-size: 72px;
  text-align: center;
}

.intro {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

.game {
  transition: opacity 1s ease;
  width: 80vw;
  height: 66vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 1%;
  background-color: #1ed560;
  color: #00182e;
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #167c3f;
  color: #fff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#gameContainer {
  background: linear-gradient(to bottom, #5cf, #28e);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 35em;
  margin: 0 auto;
  /* margin-bottom: 6em; */
  padding: 1%;
  width: 35em;

  height: 650px;
  width: 650px;
}
.card {
  height: 150px;
  width: 150px;
}
#gameContainer,
.card {
  /* box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); */
}
.card {
  /* background-color: red; */
  border-radius: 5px;
  background: #fc4;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img {
  width: 140px;
  height: 140px;
  visibility: hidden;

  margin: auto;
  padding: 10px;
}
img {
  user-select: none;
}

.card.flip {
  background: #fff;
  cursor: default;
  transform: rotateY(180deg);
  transition: transform 0.5s linear;
  pointer-events: none;
}
.card.flip img {
  background: #fff;
  visibility: visible;
}
.card.match {
  background: #39d;
  background: #1ed560;
  visibility: visible;
  cursor: default;
  animation: pulse 1s;
}
.match img {
  background: #1ed560;
}

.modal {
  /*Hidden by default */
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Fallback color */
  background-color: rgb(46, 61, 73);
  /* With opacity */
  background-color: rgba(46, 61, 73, 0.6);
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* 5% from the top and centered */
  margin: 5% auto;
  border: 0.8em solid #fc4;
  padding-right: 2em;
  width: 80%;
}
/* The Close Button */
.closeBtn {
  align-self: flex-end;
  color: #28e;
  font-size: 5em;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #5cf;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Image*/
.modal-img {
  display: inline-block;
  margin: 1em 0 1em;
  width: 20em;
}
p.stats {
  font-weight: 600;
}
p.stats:last-child {
  margin-bottom: 1em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
